body {
  // background: #f3f3f3;
  background: linear-gradient(#1ec288, #9774cc);
  font-size: 16px;
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
}
div {
  box-sizing: border-box;
}

#content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}


.hi {
  width: 100%;
  display: flex;
}

.me {
  padding: 10px 40px 0 10px;

  img {
    max-height: 200px;
    border-radius: 30%;
  }
}

.speech-bubble {
	position: relative;
	background: #fff;
  border: 3px solid #000;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: orange;

  h1 {
    font-size: 5rem;
    line-height: 1rem;
    text-align: center;
    font-family: "Courier New", monospace;
    font-weight: normal;
  }
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #000;
	border-left: 0;
	margin-top: -20px;
	margin-left: -21px;
}

.speech-bubble:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #fff;
	border-left: 0;
	margin-top: -20px;
	margin-left: -18px;
  z-index: 5;
}

.card {
  width: 100%;
  // box-shadow: 5px 5px 10px #ccc;
  background: #fff;
  margin-top: 20px;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  padding: 20px 50px 10px 50px;
  line-height: 1.7em;
  // border-left: 3px solid #1ec288;

  h2 {
    margin: 0px;
    font-size: 2.5rem;
    color: #2f2f2f;
    font-weight: 500;
  }

  ul {
    margin-left: -15px;
  }
}


@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  .hi {
    width: calc(100% - 10px);
    overflow: auto;
  }

  .me img {
    max-height: 120px;
  }

  .speech-bubble {
    max-height: 120px;
    margin-top: 10px;

    h1 {
      font-size: 3rem;
      line-height: 1rem;
    }
  }

  .card {
    flex-direction: column;
    margin: 20px 10px;
    width: calc(100% - 20px);
    padding: 15px;
    font-size: 1rem;

    div:last-child {
      margin-left: 0;
    }

    h2 {
      transform: rotate(0);
      margin: 5px 0;
      font-size: 1.5rem;
      text-transform: none;
      font-weight: bold;
    }
  }
}

figure img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: darken(orange, 5%);
}

a:hover {
  text-decoration: underline;
}

.button {
  svg {
    margin-left: 20px;
    vertical-align: middle;
    padding: 5px;
  }
}

a.button:hover {
  text-decoration: none;

  svg {
    width: 70px;
    height: 70px;
    padding: 0;
    transition: width .5s, height .5s, padding .5s;
  }
}

.footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 1em;
  opacity: 0.8;
}

.continue-reading {
  padding-bottom: 10px;
  display: inline-block;
}

.title {
  line-height: 3em;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;


  h1 {
    padding: 50px;
    text-shadow:
3px 3px 0 #222, -3px -3px 0 #222, 3px -3px 0 #222,
-3px 3px 0 #222, 0px 0px 0px #222;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .metadata {
    line-height: 1.7em;
    padding: 0px 10px;
    background: #000;
  }
}

.ktitle {
  line-height: 1.7em;
}

.pagination {
  display: flex;
  flex-grow: 1;
  padding: 0;
  justify-content: center;
  margin: 0 auto !important;


  li {
    list-style: none;
    padding: 10px;
    min-width: 20px;
    text-align: center;
  }
}

pre {
  overflow: auto;
}
